/* Styles for the body */


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #cfcfcf;
    background-color: #292828; 
   /** background: linear-gradient(to bottom, #F9E7FE, #dafcfc); /** light pink-blue gradient**/
    margin: 0;
    padding: 20px;
  }
 .Top_Buttons {
  float: center;
 }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  /* Styles for the header */
  header {
    background-color: #1f1d1d;
    padding: 10px;
  }
  
  /* Styles for the main content */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
  }
  

  #My_title {
    text-align: center;
  }
  /* Styles for links */
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    main {
      padding: 10px;
    }
  }
  